# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
VENV/
*.egg
*.egg-info/
dist/
build/
*.log

# Django
*.sqlite3
db.sqlite3
/media
/staticfiles
/static

# Node
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log

# React
/build
.DS_Store

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store
